In [5]:
import pandas as pd
import matplotlib as plt
import seaborn as sns
import os
#from plotly import __version__
#from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
#import cufflinks as cf
#init_notebook_mode(connected=True)
#cf.go_offline()
%matplotlib inline
#pd.set_option('display.max_columns', None)

In [6]:
df = pd.read_csv("crautos.csv")

In [8]:
df.describe

<bound method NDFrame.describe of        year       marca             modelo pasajeros  \
0      2000        Fiat              PUNTO         5
1      1973  Volkswagen            VARIANT         5
2      1987      Nissan         SENTRA B12         5
3      2001     Hyundai              VERNA         5
4      1993    Daihatsu             FEROZA         5
...     ...         ...                ...       ...
10660  2022      Toyota   LAND CRUISER GXR         7
10661  2021   Dodge/RAM                TRX         6
10662  2021   Dodge/RAM           1500 TRX         5
10663  2023        Audi           A8 na na        na
10664  2022      Toyota  LAND CRUISER V-XR         7

                                         descripcion    precio preciodolar  \
0                        ['PUNTO', '•', '5', 'Pas.']    200000         374
1                      ['VARIANT', '•', '5', 'Pas.']    500000         935
2                ['SENTRA', 'B12', '•', '5', 'Pas.']    580000        1084
3                        ['VERNA', '•', '5', 'Pas.']    600000        1121
4                       ['FEROZA', '•', '5', 'Pas.']    750000        1402
...                                              ...       ...         ...
10660   ['LAND', 'CRUISER', 'GXR', '•', '7', 'Pas.']   $168000  ¢ 89880000
10661                      ['TRX', '•', '6', 'Pas.']   $169145  ¢ 90492565
10662              ['1500', 'TRX', '•', '5', 'Pas.']   $170074  ¢ 90989777
10663           ['A8', 'na', 'na', 'na', 'na', 'na']       NaN         NaN
10664  ['LAND', 'CRUISER', 'V-XR', '•', '7', 'Pas.']   $173000  ¢ 92555000

      Combustible: Cilindrada: Transmisión:           Estilo: Color Exterior:  \
0         Gasolina     1242 cc       Manual         Hatchback          BLANCO
1         Gasolina     1800 cc       Manual     Station Wagon            AZUL
2         Gasolina     1600 cc       Manual             Sedán            ROJO
3         Gasolina     1500 cc       Manual             Sedán          BLANCO
4         Gasolina     1500 cc       Manual  Todo Terreno 4x4    VERDE Y GRIS
...            ...         ...          ...               ...             ...
10660       Diesel     3300 cc   Automática  Todo Terreno 4x4          BLANCO
10661     Gasolina     6200 cc   Automática        Pickup 4x4            GRIS
10662     Gasolina     6200 cc   Automática        Pickup 4x4            GRIS
10663     Gasolina     3000 cc   Automática             Sedán             NaN
10664       Diesel     3300 cc   Automática  Todo Terreno 4x4           NEGRO

      Color Interior:        Placa: Provincia:
0                AZUL  Termina en 8   San José
1                AZUL  Termina en 7   San José
2                GRIS  Termina en 1    Cartago
3               NEGRO  Termina en 6   Alajuela
4                GRIS  Termina en 8   San José
...               ...           ...        ...
10660           BEIGE  Termina en 0   San José
10661           NEGRO  Termina en 0   San José
10662           NEGRO  Termina en 2   San José
10663             NaN           NaN        NaN
10664           NEGRO  Termina en 8   San José

[10665 rows x 15 columns]>